[Desktop Entry]
Version=1.0
Name=screen-server-linux
Comment=Screen Capture Server (Agent)
Exec=/usr/local/bin/screen-server-linux -vhost Replace-This
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;
