[Unit]
Description=Screen Capture Server Daemon
Wants=graphical-session.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/usr/local/bin/screen-server-linux -vhost Replace-This

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
