[Desktop Entry]
Categories=System;Utility
Comment=Start screen capturer agent
Version=1.0
Name=Screen Capturer Agent
Exec=/usr/local/bin/screen-server-linux -vhost Replace-This
Icon=utilities-terminal
Terminal=false
Type=Application
Hidden=true
